@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Main';
  src: local('Mali'), url('../assets/fonts/Mali.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Main';
  font-weight: bold;
  font-size: larger;
  height: 100vh;
  overflow: hidden;
}

:root {
  --color-bg: #333b6a;
  --color-primary: #b7feae;
  --color-accent: #cafbff;

  --nav-height: 15vh;
  --main-height: 85vh;
  --center-height: 70vh;
  --footer-height: 15vh;
}
